allure-python-commons
pytest>=8.0.0
pytest-xdist>=3.5.0
requests~=2.32
urllib3~=2.2
selenium>=4.24.0
allure-pytest>=2.13.5
pytest-html>=4.1.1
mypy>=1.10.0
pyright >=1.1.407
dataclasses-json>=0.6.7
pytest-check
pytest-flakes
pytest-rerunfailures
pytest-lazy-fixture
colorama>=0.4.6
html-reporter>=0.2.6
webdriver_manager>=4.0.2
assertpy>=1.1